@import "normalize";

/*  Flex Grid - JordanPappas
----------------------------- */

$sm-max: 512px;
$md-max: 1024px;
$lg-max: 1200px;

$media-sm: "(max-width: #{$sm-max})";
$media-md: "(min-width: #{$sm-max}) and (max-width:#{$md-max})";
$media-lg: "(min-width: #{$md-max})";
$media-md-up: "(min-width: #{$sm-max})";


// box-sizing: border-box;
// --------------------------
*,
html,
*:after,
*:before {
  box-sizing: border-box;
}


// images
// --------------------------
img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}


// section & wrapper
// --------------------------
section {
  width: 100%;
  margin: 0px auto;
}

.wrapper {
  width: 100%;
  margin: 0px auto;
  max-width: 1200px;
}


// rows
// --------------------------
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;

  // colapse to columns on small
  @media #{$media-sm} { flex-direction: column; }
}


// columns
// --------------------------
@mixin make-flex($flex-size) {
  flex: $flex-size;
  @media #{$media-sm} {
    width: auto;
  }
}

@mixin make-flex-width($w-lg, $w-md) {
  width: $w-lg;
  @media #{$media-md} { width: $w-md; }
  @media #{$media-sm} { width: auto; }
}
