@import "flex";

// hero
// --------------------------
.hero {
  background-color: pink;
  height: 80vh;

  .hero-wrap {
    @extend .wrapper;
    @extend .row;
    height: 100%;
    align-items: center;
  }

  .left {
    @include make-flex-width(30%, 30%);
    text-align: right;
    h1 {
      font-size: 50px;
      font-weight: bold;
    }
  }

  .right {
    @include make-flex-width(30%, 30%);
    text-align: left;
    h1 {
      font-size: 20px;
      font-weight: normal;
    }
  }
}


// first section
// --------------------------
.left, .right, .next { text-align: center;}

.first-section {
  background-color: #333;
  height: 100vh;
}

.first-wrapper {
  @extend .wrapper;

  // callout row
  .callout {
    @extend .row;

    .left {
      background-color: #555;
      @include make-flex-width(30%, 50%);
    }

    .right {
      background-color: #666;
      @include make-flex(2);
    }
  }

  // nested row
  .nested {
    @extend .row;

    .inner {
      @extend .row;
      @include make-flex-width(30%, 50%);

      .left {
        background-color: pink;
        @include make-flex(2);
      }

      .right {
        background-color: red;
        @include make-flex(2);
      }
    }

    .next {
      background-color: teal;
      @include make-flex(2);
    }
  }
}
